<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link rel="stylesheet" href="/css/styles2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<header>
    <div class="cajaheader1">
        <img class="logo" src="/img/logo-mercado-liebre.svg" width="300px" height="90px"  alt="logo"></img>
    <div>
        <form action="" class="navbar">
            <input type="text" placeholder="Buscar productos, marcas" class="formdelusuario"> <button> <img class="lupa" src="/img/magnifying-glass-solid.svg" alt="" height="18px" width="18px">
            </button>
        </form>
    </div>
<div class="manoyfrase"><img class="manos" src="/img/handshake-solid.svg" alt="" height="25px" width="25px">Comprá en cuotas y sin tarjeta de crédito</img></div>
    </div>
    <div class="uldelheader0">
        <ul type="none" class="uldelheader1">
            <li>  <a href="#">Ofertas</a>  </li>
            <li>  <a href="#">Tiendas oficiales</a>  </li>
            <li>  <a href="#">Vender</a>  </li>
            <li>  <a href="#">Ayuda</a>  </li>
        </ul>
        <ul type="none" class="uldelheader2">
            <li> <a href="#">Creá tu cuenta</a> <img src="/img/id-card-solid.svg" alt="" height="15px" width="15px"> </li>
            <li> <a href="#">Ingresá</a> <img src="/img/right-to-bracket-solid.svg" alt="" height="15px" width="15px"> </li>
            <li> <a href="#">Mis compras</a> <img src="/img/bag-shopping-solid.svg" alt="" height="15px" width="15px"> </li>
        </ul>
    </div>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</header>
</head>

<body>
    <img class="publicidad" src="/img/img-home-banner.jpg" alt="" width="100%">
    <main>
<h2>Basado en tu última visita</h2>
<section class="basadoúltimavisita">
    <article class="cafetera">
<img class="cafetera" src="/img/img-cafetera-moulinex.jpg" width="100%" height="" alt="cafetera-moulinex"></img>
<div class="caja">
    <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
    <div class="precios">$6.770</div>
    <div class="descuentos">40% OFF</div>
    <div class="descripciones">Cafetera Moulinex</div>
</div>
    </article>

<article class="computadora">
    <img class="compu" src="/img/img-macbook-pro-2019.jpg" width="100%" height="" alt="MacBook"></img>
    <div class="caja">
        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
        <div class="precios">$230.000</div>
        <div class="descuentos">20% off</div> 
        <div class="descripciones">MacBook Pro 2019</div>
    </div>
</article>

<article class="celular">
    <img class="celu" src="/img/img-samsung-galaxy-s10.jpg" width="100%" height="" alt="Galaxy"></img>
    <div class="caja">
        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
        <div class="precios">$70.500</div>
        <div class="descuentos">10% off</div>
        <div class="descripciones">Samsung Galaxy S10</div>
    </div>
</article>

<article class="televisión">
    <img class="tele" src="/img/img-tv-samsung-smart.jpg" width="100%" height="" alt="img-tv-samsung-smart"></img>
    <div class="caja">
        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
        <div class="precios">$23.200</div>
        <div class="descuentos">5% off</div>
        <div class="descripciones">SmartTv Samsung 43"</div>
    </div>
</article>
</section>
<h2>Ofertas</h2>
<section class="ofertas">
<article class="cafetera">
    <img class="cafetera" src="/img/img-cafetera-moulinex.jpg" width="100%" height="" alt="cafetera-moulinex"></img>
    <div class="caja">
        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
        <div class="precios">$6.770</div>
        <div class="descuentos">40% OFF</div>
        <div class="descripciones">Cafetera Moulinex</div> 
    </div>
</article>

<article class="computadora">
    <img class="compu" src="/img/img-macbook-pro-2019.jpg" width="100%" height="" alt="MacBook"></img>
    <div class="caja">
        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
        <div class="precios">$230.000</div>
        <div class="descuentos">20% off</div> 
        <div class="descripciones">MacBook Pro 2019</div>
    </div>
</article>

<article class="televisión">
    <img class="tele" src="/img/img-tv-samsung-smart.jpg" width="100%" height="" alt="img-tv-samsung-smart"></img>
    <div class="caja">
        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
            <div class="precios">$23.200</div>
            <div class="descuentos">5% off</div>
            <div class="descripciones">SmartTv Samsung 43"</div>
    </div>    
</article>

</section>
</main>
</body>

<footer>
<nav class="centrar">
    <img class="tarjeta" src="/img/credit-card-solid.svg" alt="">
<strong><h3>Pagá con tarjeta o en efectivo</h3></strong>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>

    <img class="cajaregalo" src="/img/gift-solid.svg" alt="">
<strong><h3>Envío gratis desde $ 2.500</h3></strong>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>

    <img class="escudo" src="/img/shield-halved-solid.svg" alt="">
<strong><h3>Seguridad, de principio a fin<h3></strong>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
</nav>
    <div class="Copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></div>
</footer>
</html> 